.list-header{
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
}

.list-header i{
    font-size: 2rem;
    transition: .4s; 
}

.list-anime{
    display: none;
    height: 0;
}

.list-active .list-anime{
    background-color: var(--color-main);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.list-active i{
    transform: rotate(180deg);
    height: 100%;
}


.list-active .list-header{
    background-color: var(--color-third);
}

